.header {
    border-bottom: 1px solid rgba(18, 18, 18, 0.1);
    background: #fff;

    &__inner {
        padding: 11px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__nav {
        ul {
            display: flex;
            list-style: none;
            gap: 10px;
        }

        a {
            padding: 16px 25px;
            color: rgba(25, 28, 48, 0.9);
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
            text-decoration: none;
            background: rgba(255, 255, 255, 0);
        }
    }

    &__navActive {
        color: #336fee !important;
    }

    &__logo {
        display: flex;
        gap: 5px;
        align-items: center;

        p {
            color: rgba(25, 28, 48, 0.9);
            font-family: "Tinkoff Sans Medium", sans-serif;
            font-size: 26.348px;
            font-weight: 500;
            max-width: 95px;
            line-height: 80%;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 32px;
            height: 32px;
        }
    }

    &__reg {
        border-radius: 7px;
        background: #ffdd2d;
        text-decoration: none;
        padding: 9px 23px 7px 23px;
        color: #141414;
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }

    &__login {
        background: rgba(255, 255, 255, 0);
        padding: 9px 23px 7px 23px;
        color: #336fee;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }

    &__profileLink {
        background: rgba(255, 255, 255, 0);
        color: rgba(0, 0, 0, 0.8);
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__createTour {
        padding: 9px 23px 7px 23px;
        border-radius: 7px;
        background: #ffdd2d;
        color: #141414;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }

    @media screen and (max-width: 810px) {
        &__createTour {
            padding: 8px;
            text-align: center;
            font-size: 14px;
        }

        &__inner {
            align-items: end;
        }

        &__left {
            flex-direction: column;
            align-items: start;
        }

        &__right {
            flex-direction: column;
            gap: 20px;
        }

        &__nav {
            a {
                padding: 8px 0;
            }

            ul {
                flex-direction: column;
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__right {
            gap: 10px;
        }

        &__logo p {
            font-size: 16px;
        }

        &__logo img {
            width: 35px;
        }

        &__reg {
            padding: 6px 15px;
        }

        &__login {
            padding: 6px 15px;
        }
    }
}
